body{
    font: 20px Arial, sans-serif;
}

.navbar{
    background-color: lightblue;
}

.quem-somos{
    background-color: lightskyblue;
    color: white;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: lightgray;
}

.bg-footer{
    background-color: black;
    color: white;
}